@model EncryptionViewModel<VerticalTranspositionEncryptionResult>

@{
	ViewData["Title"] = "Vertical transposition";
}

<h1>Vertical transposition</h1>

<form asp-controller="VerticalTransposition" asp-action="Index" method="post">
	<div class="form-group">
		<label asp-for="InputText" class="control-label">Text: </label>
		<input asp-for="InputText" class="form-control w-50" />
	</div>
	@if (Model != null && Model.EncryptionResult != null)
	{
		@await Html.PartialAsync("~/Views/Encryption/_VerticalTranspositionEncryptionResult.cshtml",
				Model.EncryptionResult)
	}

	<div class="form-group">
		<button type="submit" name="actionType" value="Encrypt" class="btn btn-primary">Encrypt</button>
	</div>


	<div class="form-group">
		<label asp-for="EncryptedInputText" class="control-label">Encrypted text: </label>
		<input asp-for="EncryptedInputText" class="form-control w-50" />
	</div>

	@if (Model != null && Model.DecryptionResult != null)
	{
		@await Html.PartialAsync("~/Views/Encryption/_VerticalTranspositionEncryptionResult.cshtml",
				Model.DecryptionResult)
	}

	<div class="form-group">
		<button type="submit" name="actionType" value="Decrypt" class="btn btn-primary">Decrypt</button>
	</div>
	<span asp-validation-for="InputText" class="text-danger"></span>
	<span asp-validation-for="EncryptedInputText" class="text-danger"></span>
</form>