@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	This project is an educational demonstration and does not collect or store any personal information from users.
	All data entered into the application is temporary and is not shared or saved in any way.
	By using this project, users can be assured that their privacy is respected.
</p>
