@using EncryptionService.Web.Models.EncryptionViewModels
@model EncryptionViewModel<EncryptionResult>

@{
	ViewData["Title"] = "XOR Encryption";
}

<h1 class="mb-5">XOR Encryption</h1>

<form class="w-100" asp-controller="XorEncryption" asp-action="Encrypt" method="post">
	<div class="form__group field">
		<input asp-for="InputText" class="form__field" placeholder="Text" />
		<label asp-for="InputText" class="form__label">Text</label>
	</div>

	@if (Model != null && Model.EncryptionResult != null)
	{
		@await Html.PartialAsync("Encryption/_EncryptionResult",
				Model.EncryptionResult)
	}

	<div class="form-group mb-3">
		<button type="submit" class="button">Encrypt</button>
	</div>
</form>

<form class="w-100" asp-controller="XorEncryption" asp-action="Decrypt" method="post">
	<div class="form__group field">
		<input asp-for="EncryptedInputText" class="form__field" placeholder="Encrypted text" />
		<label asp-for="EncryptedInputText" class="form__label">Encrypted text </label>
	</div>

	@if (Model != null && Model.DecryptionResult != null)
	{
		@await Html.PartialAsync("Encryption/_EncryptionResult",
				Model.DecryptionResult)
	}

	<div class="form-group mb-3">
		<button type="submit" class="button">Decrypt</button>
	</div>

	<span asp-validation-for="InputText" class="text-danger"></span>
	<span asp-validation-for="EncryptedInputText" class="text-danger"></span>
</form>