@using EncryptionService.Core.Models.AsymmetricEncryption.RsaEncryption

@model RsaEncryptionResult

@if (Model.E.HasValue)
{
	<p>Public key: (e, n) = <span class="encryption-result-text">(@Model.E, @Model.N)</span></p>
}
@if (Model.D.HasValue)
{
	<p>Private key: (d, n) = <span class="encryption-result-text">(@Model.D, @Model.N)</span></p>
}

@await Html.PartialAsync("~/Views/Encryption/_EncryptionResult.cshtml", Model)