:root {
    --color-dark: rgb(15, 15, 15);
    --color-dark-gray: rgb(26, 26, 26);
    --color-white: rgb(230, 230, 230);
    --color-accent: rgb(0, 169, 127);
}


html {
    font-size: 16px;
}


@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: var(--color-white);
    background-color: var(--color-dark);
}

header {
    margin-bottom: 20px;
}

main {
    width: 75%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

ol {
    list-style-position: inside;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encryption-result-text {
    color: gold;
    font-weight: bold;
}

table {
    border: 2px solid white !important;
}

td, th {
    text-align: center;
}

.vertical-transposition-table tr:nth-child(1) {
    font-weight: bold;
}

.vertical-transposition-table tr:nth-child(2) {
    border-bottom: 2px solid white;
}

.vertical-transposition-table td:nth-child(even) {
    background-color: var(--color-dark-gray);
}

.equivalent-transposition-table tr:nth-child(1),
.equivalent-transposition-table td:nth-child(1) {
    background-color: rgb(2,32,39);
}

.equivalent-transposition-table tr:nth-child(even) {
    background-color: var(--color-dark-gray);
}

.equivalent-transposition-table tr:first-child td:first-child, th:first-child {
    border: none;
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.homophonic-encryption-table tr:nth-child(even) {
    background-color: var(--color-dark-gray);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-white);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--color-dark);
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 350px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: var(--color-white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 20px;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 17px;
        cursor: text;
        top: 20px;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #23C186;
        font-weight: 700;
    }

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

a {
    color: var(--color-accent);
}

.accordion-button {
    font-size: 24px;
}

.list-group-item {
    font-size: 20px;
}

.accordion-body, .accordion-button, .list-group-item, .accordion-button.collapsed {
    background-color: var(--color-dark);
    color: var(--color-white);
}

    .accordion-button:focus {
        background-color: var(--color-dark);
        color: white;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--color-dark);
        color: var(--color-white);
    }

    .accordion-button:focus, .accordion-button:active {
        box-shadow: none;
    }

.button {
    --color: var(--color-accent);
    padding: 0.5em 1.3em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

    .button::before, .button::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
    }

    .button::before {
        top: -1em;
        left: -1em;
    }

    .button::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }

    .button:hover::before, .button:hover::after {
        height: 410px;
        width: 410px;
    }

    .button:hover {
        color: rgb(10, 25, 30);
    }

    .button:active {
        filter: brightness(.8);
    }
